<%- include('header.ejs') -%>
<h1>pong V2</h1>
<div class="d-flex flex-column align-items-center justify-content-center w-100" style="height: 100vh ">
	<form class="d-flex flex-column card w-50" method="get" action="/pong">
			<input type="submit" value="do you want play ?" class="btn btn-primary"/>
		<div>
			<% if (locals.errors && errors && errors.length) {%>
				<h1>Erreur : </h1>
				<ul>
					<%errors.forEach(err => {%>
						<li><%= err%></li>	
					<%})%>
				</ul>
			<%}%>
		</div>
	</form>
</div>
<%- include('footer.ejs') -%>


