<%- include('header.ejs') -%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<h1>Pong V2 </h1>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/pong.js"></script>
<div id="pong" style="margin-left: 20px;">

</div>

<%- include('footer.ejs') -%>


